<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mindly.ai</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/error-page.css">
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="center">
        <div class="error">
            <div class="number">4</div>
            <div class="illustration">
                <div class="circle"></div>
                <div class="clip">
                    <div class="paper">
                        <div class="face">
                            <div class="eyes">
                                <div class="eye eye-left"></div>
                                <div class="eye eye-right"></div>
                            </div>
                            <div class="rosyCheeks rosyCheeks-left"></div>
                            <div class="rosyCheeks rosyCheeks-right"></div>
                            <div class="mouth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="number">4</div>
        </div>

        <div class="text">
            <h2 class="H1-text">UH OH! You're lost.</h2>
            The page you are looking for does not exist.How you got here is a mystery.<br>
            But you can click the button below to go back to the homepage.
        </div>
        <a href="/"> <button class="button">Home</button></a>
        
    </div>  

    <!-- partial -->

</body>

</html>